body {
  font-family: "Inter", sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 1.42;
}

.wrapper {
  width: 1500px;
  margin: 0 auto;
  padding: 0 51px;
}

* {
  box-sizing: border-box;
}

.header {
  position: relative;
  top: 7px;
  margin-bottom: 27px;
}

.logo__icon,
.logo__text {
  display: inline-block;
}

.logo__link-icon,
.logo__link-text {
  text-decoration: none;
}

h1 {
  color: #F36223;
  font-size: 44px;
  font-weight: bold;
  margin: 0;
  letter-spacing: 1px;
}

p {
  margin: 0;
}

a:hover {
  color: #F36223;
}


.logo__text-black {
  color: #000;
}

.breadcrumbs {
  margin-bottom: 2px;
}

.breadcrumbs__list {
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__item2 {
  display: inline-block;
  color: #000;
}

.breadcrumbs__link {
  text-decoration: none;
  color: #008CF0;
}

.product-name {
  margin-bottom: 27px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
}

.product-photo {
  margin-bottom: 23px;
}

.product-photo__list {
  margin: 0;
  padding: 0;
}

.product-photo__item {
  display: inline-block;
  margin-right: 4px;
}

.product-photo__item:last-child {
  margin-right: 0;
}

.container {
  width: 100%;
}

.information {
  width: 880px;
  display: inline-block;
}

h3 {
  font-size: 16px;
}

.color {
  margin-bottom: 26px;
}

.color__name {
  margin: 0 0 14px 0;
}

.color__list {
  margin: 0;
  padding: 0;
}

.color__item {
  display: inline-block;
  padding: 0;
  margin: 0 6px 0 0;
}

.color__btn {
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 4px;
  border-width: 1px;
  border-color: #888;
  border-style: solid;
}

.color__btn:hover {
  background: #F2F2F2;
}

.color__btn:active {
  border-width: 2px;
  border-color: #F36223;
  background: #fff;
}

.configuration {
  margin-bottom: 27px;
}

.configuration__name {
  margin: 0 0 15px 0;
}

.configuration__list {
  margin: 0;
  padding: 0;
}

.configuration__item {
  display: inline-block;
  margin: 0 6px 0 0;
}

.configuration__btn {
  width: 92px;
  height: 39px;
  background: #fff;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  border-color: #888;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
}

.configuration__btn:hover {
  background: #F2F2F2;
}

.configuration__btn:active {
  border-width: 2px;
  border-color: #F36223;
  background: #fff;
}

.specification {
  margin-bottom: 28px;
}

.specification__text {
  margin-bottom: 12px;
}

.specification__name {
  margin: 0;
}

.specification__list {
  margin: 0 0 0 15px;
  padding: 0;
}

.specification__item {
  list-style-image: url(pictures/Marker.png);
  margin-bottom: 6px;
  padding-left: 5px;
}

.specification__paragraph {
  margin: 0;
}

.specification__meaning,
.specification__meaning-link {
  font-weight: bold;
}

.specification__meaning-link {
  text-decoration: none;
  color: #008CF0;
}

.description__text {
  margin-bottom: 12px;
}

.description__name {
  margin: 0;
}

.description__paragraph__text {
  margin: 0 0 14px 0;
  line-height: 1.20;
  font-weight: 500;
}

.description__paragraph__text-first {
  width: 382px;
}

.iPhone__13 {
  font-style: italic;
}

.aside {
  width: 420px;
  display: inline-block;
  margin-left: 93px;
  vertical-align: top;
}

.purchase {
  padding: 24px 24px 20px 24px;
  border: 1px;
  border-color: #eeeeee;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 #0000001A;
  margin-bottom: 38px;
}

.price {
  margin-bottom: 10px;
}

.price__old {
  margin-bottom: 5px;
}

.price__old-price {
  color: #888;
  text-decoration: line-through;
}

.price__old-percent {
  color: #fff;
  text-decoration: none;
  background-color: #F36223;
  border-radius: 500px;
  padding: 2px 8px;
  margin-left: 5px;
}

.price__new-paragraph {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 1px;
}

.courier {
  margin-bottom: 7px;
}

.delivery {
  margin-bottom: 35px;
}

.delivery__free {
  font-weight: 700;
}

.basket {
  width: 380px;
}

.basket__btn {
  color: #fff;
  background: #F36223;
  width: 380px;
  height: 64px;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  border: 0;
  border-style: solid;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
}

.basket__btn:hover {
  background: #DA4A0C;
}

.advertisement {
  font-size: 14px;
  color: #888;
}

.advertisement__text {
  margin-left: 2px;
}

.advertisement__list {
  margin: 6px 0 0 2px;
  padding: 0;
}

.advertisement_item {
  list-style: none;
  background-color: #F0F0F0;
  border: 1px dashed;
  border-color: #888;
  width: 420px;
  height: 300px;
  text-align: center;
  margin-bottom: 17px;
  line-height: 300px;
}

.advertisement_item:last-child {
  margin-bottom: 0;
}

.rewiews {
  width: 880px;
}

.rewiews__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.rewiews__header-span {
  font-size: 24px;
  font-weight: 700;
}

.rewiews__header-span2 {
  font-size: 24px;
  font-weight: 700;
  color: #888;
  margin-left: 10px;
}

.rewiews__header-button {
  height: 39px;
  width: 168px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  font-size: 16px;
  letter-spacing: 1px;
}

.rewiews__main {
  display: flex;
  flex-direction: column;
}

.rewiews-first,
.rewiews-second {
  display: flex;
}

.rewiews-photo img {
  width: 140px;
  height: 140px;
  border-radius: 100px;
}
