body {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
}

.wrapper {
  width: 1500px;
  margin: 0;
  padding: 0 51px;
}

* {
    box-sizing: border-box;
}
.header{
  position: relative;
  top: 7px;
}
.logo__icon, .logo__text {
  display: inline-block;
}
.logo__link-icon, .logo__link-text {
  text-decoration: none;
}
h1 {
  color: #F36223;
  font-size: 44px;
  font-weight: bold;
  margin: 0;
  letter-spacing: 1px;
}
.logo__text-black {
  color: #000;
}
